body{ 
	font-family: 'Open Sans Condensed', sans-serif;  
}
.container { 
	border: 0px solid red; 
	position: relative; 
	background: #ececec; 
}
.portlet { 
	margin: 0; 
	padding: 0; 
}
.box{ 
	background: white; 
	margin: 5px; 
	padding: 5px; 
	height: calc(100% - 20px);
	-webkit-box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.2); 
}
.zindex{ 
	z-index: 9999; 
}
.portlet-header{
	font-family: 'Open Sans', sans-serif; 
	border-bottom: 1px solid #ececec;
}
.portlet-content{
	color: gray;
}
#follower{ 
	position: absolute; 
	float: left; 
	margin-top: 10px; 
	margin-left: 10px; 
}
